

button {
    @apply w-max h-[50px] pl-4 pr-4 flex justify-around gap-2 rounded-md;
    transition: all linear 0.1s !important;
    &:disabled{
        filter: contrast(0.5);
    }
    &.primary-btn {
        @apply bg-primary text-white;
    }
    &.secondary-btn {
        /*@apply inset-1 bg-secondary text-white;*/
        @apply bg-gradient-to-r from-primary to-secondary text-white;
    }
    &.accent-btn {
        /*@apply bg-accent-700 text-white ;*/
        @apply bg-gradient-to-r from-primary to-accent text-white ;
    }
    &.outlined {
        box-shadow: inset 0 0 0 1px;
    }
    &.primary-outline {
        @apply text-primary shadow-primary;
    }
    &.secondary-outline {
        @apply text-secondary shadow-secondary;
    }
    &.accent-outline {
        @apply text-accent shadow-accent;
    }
    &.prim-text-btn {
        @apply text-primary;
    }
    &.sec-text-btn {
        @apply text-secondary
    }
    &.acc-text-btn {
        @apply text-accent
    }
    &.white-text-btn {
        @apply text-white;
    }
    &.under {
        @apply border-solid border-t-transparent border-r-transparent border-l-transparent rounded-none border-b-white;
    }
    &.primary-underline {
        @apply border-b-primary
    }
    &.secondary-underline {
        @apply border-b-secondary;
    }
    &.accent-underline {
        @apply border-b-accent
    }
    &svg {
        margin: auto;
    }
    &:hover {
        @apply bg-opacity-90;
    }
}
input {
    outline: transparent;
    @apply w-full h-[50px] indent-2 border-solid border-transparent border-b border-b-primary-50 bg-transparent text-left outline-transparent;
    &:focus{
        @apply bg-transparent border-b-accent ;
    }
    &[type='checkbox']{
        width: 20px;
        color: red;
        background-color: red;
        &:active{
            color: red;
            background-color: red;
        }
    }
}
table {
    input {
        height: 20px;
        margin: auto 0 auto 0;
        text-align: center;
        @apply text-center disabled:text-gray-300;
    }
    thead{
        @apply bg-gradient-to-r from-accent-100 via-10% to-blue-100 text-accent-800 font-bold;
    }
    th {
        @apply h-full leading-[50px] truncate;
    }
    tr {
        @apply w-full h-[50px] grid grid-flow-col auto-cols-fr;
        td {
            @apply m-auto text-center truncate;
            width: 100%;
        }
    }
    tbody {
        tr {
            @apply bg-white text-center w-full ;
            border-bottom: 1px solid gray;
        }
    }
}
.custom-table {
    @apply w-full grid ;
    & .header {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 70px 70px;
        @apply grid grid-flow-col h-[50px] leading-[50px] bg-gradient-to-r from-accent-100 via-10% to-blue-100 text-accent-800 font-bold;
        span {
            @apply w-full truncate leading-[50px];
        }
    }
    & .t-body {
        @apply grid grid-flow-col h-[50px];
        & .parent-row {
            @apply grid gap-2 bg-white;
            & .row {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 70px 70px;
                @apply w-full grid grid-flow-col auto-cols-fr bg-white;
                span {
                    @apply w-full h-[50px] text-center truncate leading-[50px] ;
                }
            }
        }
    }
}
textarea {
    height: auto;
    padding: 5px !important;
    @apply w-full min-h-[20vh] rounded-md text-left p-4 ;
}
.page {
    @apply w-full min-h-[calc(100vh-60px)] bg-base ;
}
.quick-card {
    @apply p-4 max-w-md min-w-min w-full duration-1000 delay-500 ease-linear flex-1 text-center flex flex-col min-h-[20vh] rounded-md ;
    span {
        @apply w-full flex justify-center m-auto;
        & *{
            @apply self-end;
        }
    }
}

